@charset "UTF-8";
/* CSS Document */

.nav{width: 100%;
  overflow: auto;}
.nav a{float: left;
  padding:0px;
  color: black;
  text-decoration: none;
  font-size: 17px;
  width: 20%; 
  text-align: center; 
}

.footer{width: 100%;
  overflow: auto;}
.footer a{float: left;
  padding:0px;
  color: black;
  text-decoration: none;
  font-size: 17px;
  width: 25%; 
	text-align: center; }

.locationmap{width: 1300px;}

.mapplacement{width: 1300px; }

